body {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

left { float: left; }
right { float: right; }
stretch {
    display: block;
    overflow: hidden;
    padding-right: 5px;
    padding-left: 10px;
}
.stretch > input{ width: 100%; }

.help {
    color: #adadad;
}

a, a:link, a:visited, a:hover, a:active {
    color: #0070d8;
}

.tag {
    //margin: 0 0.1em;
    //padding: 0.3em 0.3em;
    margin: 0em;
    padding: 0em;
    color: #fff;
    background: #999;
    font-size: 80%;
}

#searchhelp {
    background: #1f8dd6;
    padding-left: 1em;
    padding-right: 1em;
    color: #ffffff;
    display: none;
}

#searchhelp a, #searchhelp a:link, #searchhelp a:visited, #searchhelp a:hover, #searchhelp a:active {
    color: #ffffff;
}


.id {
    color: #777;
    font-size: 80%;
}

.sha1 {
    color: #777;
    font-size: 80%;
}

.tag {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: rgb(28, 184, 65);
    font-size: 80%;
}

.table-filename {
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}

.table-size {
    text-align: right;
    vertical-align: top;
}

.table-time {
    text-align: center;
    vertical-align: top;
}

.table-tags {
    text-align: left;
    vertical-align: top;    
}

.footer {
    text-align: right;
    margin-top: 1em;
    border-top: 1px solid #adadad;
}
